* {
	box-sizing: border-box;
}
body {
	background: #e8e7da;
	color: #555;
	font-size: 18px;
	font-family: "georgia", Garamond, Helvetica, Arial, sans-serif, system;
	line-height: 180%;
}
h2 {
	margin: 0;
	color: #222;
	font-size: 48px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
	line-height: 120%;
}
h3 {
	margin: 0;
	color: #555;
	font-size: 24px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
	line-height: 130%;
}
a, .main-nav input, button {
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}
p {
	margin-bottom: 50px;
}
button {
	margin: 0 10px;
	padding: 0 20px;
	height: 45px;
	outline: none;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	font-size: 20px;
	font-family: "bentonsanscond-book", Helvetica, Arial, sans-serif, system;
	line-height: 45px;
}
.orange {
	background-color: #d74119;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
	color: #FFF;
}
.orange:hover {
	background-color: #b51101;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
}
.black {
	background-color: #191919;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	color: #bbb;
}
.black:hover {
	background-color: #111;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	color: #FFF;
}
#logo-icon img {
	float: left;
	margin: 0 50px;
	padding: 10px;
	height: 60px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#logo-icon img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
/* Structure */
.site-header {
	padding: 168px 20% 50px 20%;
	width: 100%;
	border-bottom: 1px solid #bcbbb2;
	background: #d8d7cc url('../images/header-background.png') top center no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	-moz-box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	color: #555;
	text-align: center;
	font-size: 18px;
	font-family: "georgia", Garamond, Helvetica, Arial, sans-serif, system;
}
.site-header img {
	width: 300px;
	height: 230px;
}
.header-search {
	float: left;
	padding: 150px 20% 150px 20%;
	width: 100%;
	border-bottom: 1px solid #bcbbb2;
	background: #d8d7cc;
	background-size: cover;
	-webkit-box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	-moz-box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	color: #555;
	text-align: center;
	font-size: 18px;
	font-family: "georgia", Garamond, Helvetica, Arial, sans-serif, system;
}
#introduction {
	margin-top: 100px;
	width: 100%;
}
/* Menu */
.main-nav {
	padding: 30px 10%;
	width: 100%;
	height: 120px;
	background-color: #212121;
	-webkit-box-shadow: inset 0 -2px 6px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 6px rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 6px rgba(0,0,0,.15);
}
.main-nav ul {
	margin:0;
	padding:0;
	width: 100%;
	list-style:none;
}
.main-nav ul li {
	float: left;
}
.main-nav ul li a {
	float: left;
	margin-right: 20px;
	padding: 0 20px 0 20px;
	height: 60px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	color: #bbb;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: "bentonsanscond-book", Helvetica, Arial, sans-serif, system;
	line-height: 60px;
}
.main-nav ul li a:hover {
	background-color: #111;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	color: #FFF;
}
.main-nav input[type=search] {
	float: right;
	padding-left: 20px;
	width: 200px;
	height: 60px;
	outline: none;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929 url('../images/search-icon@x2.png') center right 20px no-repeat;
	background-size: 20px 20px;
	color: #888;
	font-size: 20px;
	font-family: "bentonsanscond-book", Helvetica, Arial, sans-serif, system;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.main-nav input[type=search]:focus {
	background-color: #FFF;
	color: #555;
}
.main-nav input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
.header-search input[type=search] {
	float: left;
	margin: 0 auto;
	padding-left: 20px;
	width: 100%;
	height: 60px;
	outline: none;
	border: 1px solid #bcbbb2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #FFF url('../images/search-icon@x2.png') center right 20px no-repeat;
	background-size: 20px 20px;
	color: #888;
	font-size: 18px;
	font-family: "georgia", Helvetica, Arial, sans-serif, system;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.header-search input[type=search]:focus {
	background-color: #FFF;
	color: #555;
}
.header-search input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
.header-search h2 {
	margin-bottom: 40px;
}
/* Music controls */
#music-controls {
	position: fixed;
	top: 120px;
	padding: 0 10%;
	width: 100%;
	height: 100px;
	background-color: rgba(255,255,255,0.95);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25);
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
}
#music-controls aside {
	float: left;
}
#music-controls h3 {
	color: #222;
	text-transform: uppercase;
	font-size: 30px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
}
#music-controls h4 {
	margin: 0;
	color: #555;
	text-transform: uppercase;
	font-size: 18px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
}
#music-controls .controls {
	margin: 0 auto;
}
/* Content section */
section {
	margin: 50px auto;
	width: 80%;
}
article {
	margin-bottom: 50px;
	padding-left: 50px;
	width: 100%;
	border: 1px solid #bcbbb2;
	background: #FFF;
}
article a {
	color: #d74119;
	text-decoration: none;
}
article a:hover {
	color: #b51102;
}
.overview-requests article header.requests-blocks {
	float: right;
	width: 60px;
	height: 120px;
}
.overview-requests article aside.left {
	float: left;
	width: 150px;
	height: 100%;
}
.overview-requests article aside.left time {
	display: block;
	width: 100px;
	background-color: #bcbbb2;
	color: #FFF;
	text-align: center;
}
.overview-requests article aside.left time .day {
	display: block;
	padding-top: 55px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-size: 48px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
}
.overview-requests article aside.left time .month {
	display: block;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 24px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
}
.overview-requests article .user {
	margin: 70px 50px 0 0;
	width: 99px;
	height: 99px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #3993d9;
	-webkit-box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);
	-moz-box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);
	box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);
}
.overview-requests article h2, .overview-requests article h2 a {
	float: left;
	padding-top: 45px;
	color: #222;
}
.overview-requests article h2 a:hover {
	color: #d74119;
}
.overview-requests article h3 {
	float: left;
}
article .article-content {
	margin: 200px 200px 0 150px;
}
.overview-requests article header aside.right {
	float: right;
	margin-top: 50px;
	width: 200px;
	height: 100%;
	background: #FFF;
	text-align: right;
}
.overview-requests article header aside.right .block {
	float: right;
	clear: right;
	width: 60px;
	height: 60px;
	border-top: 1px solid #bcbbb2;
	border-bottom: 1px solid #bcbbb2;
	border-left: 1px solid #bcbbb2;
	background: #FFF;
	vertical-align: middle;
	text-align: center;
	line-height: 60px;
}
.overview-requests .block img {
	width: 22px;
}
.overview-requests article header aside.right .block:hover {
	background: #f4f4ee;
}
.overview-requests article header aside.right .block:last-of-type {
	border-top: none;
}
/* Include fonts */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "georgia";
	src: url("../fonts/georgia.eot");
	src: url("../fonts/georgia.ttf");
	src: url("../fonts/georgia.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "bentonsanscond-book";
	src: url("../fonts/bentonsanscond-book.eot");
	src: url("../fonts/bentonsanscond-book.ttf");
	src: url("../fonts/bentonsanscond-book.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "bentonsanscond-medium";
	src: url("../fonts/bentonsanscond-medium.eot");
	src: url("../fonts/bentonsanscond-medium.ttf");
	src: url("../fonts/bentonsanscond-medium.woff");
}