* {
	box-sizing: border-box;
}
body {
	background: #e8e7da;
	color: #555;
	font-size: 18px;
	font-family: "georgia", Garamond, Helvetica, Arial, sans-serif, system;
	line-height: 180%;
}
h2 {
	margin: 0;
	color: #222;
	font-size: 48px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
	line-height: 130%;
}
h3 {
	margin: 0;
	color: #555;
	font-size: 24px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
	line-height: 130%;
}
a, .main-nav input {
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}
p {
	margin-bottom: 50px;
}
button {
	margin: 0 10px;
	padding: 0 20px;
	height: 45px;
	outline: none;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	font-size: 20px;
	font-family: "bentonsanscond-book", Helvetica, Arial, sans-serif, system;
	line-height: 45px;
}
.black {
	background-color: #191919;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	color: #bbb;
}
.black:hover {
	background-color: #111;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	color: #FFF;
}
/* Structure */
.site-header {
	padding: 150px 50px 50px 50px;
	width: 100%;
	border-bottom: 1px solid #bcbbb2;
	background: #d8d7cc url('../images/header-background.png') top center no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	-moz-box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	box-shadow: inset 0 -1px 20px rgba(0,0,0,.03);
	color: #555;
	text-align: center;
	font-size: 18px;
	font-family: "georgia", Garamond, Helvetica, Arial, sans-serif, system;
}
.site-header img {
	width: 300px;
	height: 230px;
}
#introduction {
	margin-top: 100px;
	width: 100%;
}
/* Menu */
.main-nav {
	padding: 30px 10%;
	width: 100%;
	height: 120px;
	background-color: #212121;
	-webkit-box-shadow: inset 0 -2px 6px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 6px rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 6px rgba(0,0,0,.15);
}
.main-nav ul {
	margin:0;
	padding:0;
	width: 100%;
	list-style:none;
}
.main-nav ul li {
	float: left;
}
.main-nav ul li a {
	float: left;
	margin-right: 20px;
	padding: 0 20px 0 20px;
	height: 60px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	color: #bbb;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-family: "bentonsanscond-book", Helvetica, Arial, sans-serif, system;
	line-height: 60px;
}
.main-nav ul li a:hover {
	background-color: #111;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.5);
	color: #FFF;
}
.main-nav input[type=search] {
	float: right;
	padding-left: 20px;
	width: 200px;
	height: 60px;
	outline: none;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #292929 url('../images/search-icon@x2.png') center right 20px no-repeat;
	background-size: 20px 20px;
	color: #888;
	font-size: 20px;
	font-family: "bentonsanscond-book", Helvetica, Arial, sans-serif, system;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.main-nav input[type=search]:focus {
	background-color: #FFF;
	color: #555;
}
.main-nav input[type=search]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
/* Content section */
section {
	margin: 50px auto;
	width: 80%;
}
article {
	padding: 0 0 50px 50px;
	width: 100%;
	border: 1px solid #bcbbb2;
	background: #FFF;
}
article a {
	color: #d74119;
	text-decoration: none;
}
article a:hover {
	color: #b51102;
}
.overview-requests article h2 {
	padding-top: 50px;
}
.overview-requests article time {
	float: left;
	margin-right: 50px;
	width: 100px;
	background: #bcbbb2;
	color: #FFF;
	text-align: center;
}
.overview-requests article time .day {
	padding-top: 50px;
	display: block;
	text-transform: uppercase;
	font-size: 48px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
}
.overview-requests article time .month {
	padding-bottom: 20px;
	display: block;
	text-transform: uppercase;
	font-size: 24px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
}
.overview-requests article .user {
	float: left;
	width: 99px;
	height: 99px;
	margin: 30px 50px 0 0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: #3993d9;
	-moz-box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);
	-webkit-box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);
	box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);

}
#logo-icon img {
	float: left;
	margin: 0 50px;
	padding: 10px;
	height: 60px;
}
/* Include fonts */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "georgia";
	src: url("../fonts/georgia.eot");
	src: url("../fonts/georgia.ttf");
	src: url("../fonts/georgia.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "bentonsanscond-book";
	src: url("../fonts/bentonsanscond-book.eot");
	src: url("../fonts/bentonsanscond-book.ttf");
	src: url("../fonts/bentonsanscond-book.woff");
}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "bentonsanscond-medium";
	src: url("../fonts/bentonsanscond-medium.eot");
	src: url("../fonts/bentonsanscond-medium.ttf");
	src: url("../fonts/bentonsanscond-medium.woff");
}