@charset "utf-8";
.st-content, .st-content-inner {
	position: relative;
	float: left;
	background: #e8e7da;
}
.st-container {
	position: relative;
	overflow: hidden;
}
.st-pusher {
	position: relative;
	right: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}
.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, width 0.1s 0.2s, height 0.1s 0.2s;
	transition: opacity 0.2s, width 0.1s 0.2s, height 0.1s 0.2s;
}
.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.st-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	padding: 3%;
	visibility: hidden;
	width: 33.33%;
	height: 100%;
	overflow-y: scroll;
	border-left: 1px solid #bcbbb2;
	background: #d8d7cc;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.st-menu .comment {
	margin-top: 30px;
	float: left;
	width: 100%;
	font-size: 16px;
	line-height: 180%;
}
.st-menu .comment p {
	margin-bottom: 20px;
}
.st-menu .user {
	float: left;
	margin-right: 15px;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: #3993d9;
	-webkit-box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);
	-moz-box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);
	box-shadow: inset 0 0 0 1px rgba(136,136,136,.13);
}
.st-menu .meta {
	float: left;
	width: 100%;
	color: #555;
	font-size: 18px;
	font-family: "bentonsanscond-medium", Helvetica, Arial, sans-serif, system;
	line-height: 130%;
	margin-bottom: 15px;
}
.st-menu .meta a {
	color: #d74119;
}
.st-menu .meta a:hover {
	color: #b51101;
}

/* Effect: Slide along */
.chat.st-menu-open .st-pusher, .heart.st-menu-open .st-pusher {
	-webkit-transform: translate3d(-33.33%,0,0);
	transform: translate3d(-33.33%, 0, 0);
	z-index: 999;
}
.chat.st-menu-open section, .heart.st-menu-open section {
	-webkit-transform: translate3d(12.5%, 0, 0);
	transform: translate3d(12.5%, 0, 0);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}
.chat.st-menu-open article, .heart.st-menu-open article {
	border-right: none;
}
.chat.st-menu, .heart.st-menu {
	z-index: 1;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
}
.chat.st-menu-open .chat.st-menu, .heart.st-menu-open .heart.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.chat.st-menu::after, .heart.st-menu::after {
	display: none;
}

/* Fallback */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-right: 33.33%;
}