@charset "utf-8";
.st-content, .st-content-inner {
	position: relative;
	float: left;
	background: #e8e7da;
}
.st-container {
	position: relative;
	overflow: hidden;
}
.st-pusher {
	position: relative;
	right: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}
.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.2s, width 0.1s 0.2s, height 0.1s 0.2s;
	transition: opacity 0.2s, width 0.1s 0.2s, height 0.1s 0.2s;
}
.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.st-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	padding: 3%;
	visibility: hidden;
	width: 350px;
	height: 100%;
	overflow-y: scroll;
	border-left: 1px solid #bcbbb2;
	background: #d8d7cc;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

/* Effect: Slide along */
.chat.st-menu-open .st-pusher, .heart.st-menu-open .st-pusher {
	-webkit-transform: translate3d(-350px,0,0);
	transform: translate3d(-350px, 0, 0);
	z-index: 999;
}
.chat.st-menu-open section, .heart.st-menu-open section {
	-webkit-transform: translate3d(12.5%, 0, 0);
	transform: translate3d(12.5%, 0, 0);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}
.chat.st-menu-open article, .heart.st-menu-open article {
	border-right: none;
}
.chat.st-menu, .heart.st-menu {
	z-index: 1;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
}
.chat.st-menu-open .chat.st-menu, .heart.st-menu-open .heart.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.chat.st-menu::after, .heart.st-menu::after {
	display: none;
}

/* Fallback */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-right: 350px;
}